site_name: Pinball
site_description: Fast, accurate quantile regression for Python
site_url: https://mah38900.github.io/pinball/
repo_url: https://github.com/mah38900/pinball
repo_name: mah38900/pinball

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - mkdocs-jupyter:
      include_source: true
      ignore:
        - "conf.py"

exclude_docs: |
  conf.py
  *.rst
  make.bat
  Makefile

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - footnotes
  - tables
  - toc:
      permalink: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/mah38900/pinball
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/pinball/

nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quickstart.md
  - Theory:
    - Overview: theory/overview.md
    - Linear Methods: theory/linear-methods.md
    - Preprocessing for Large Data: theory/preprocessing.md
    - Nonparametric Methods: theory/nonparametric.md
  - API Reference:
    - Estimators: api/estimators.md
    - Solvers: api/solvers.md
    - Inference: api/inference.md
    - Datasets: api/datasets.md
  - Examples:
    - Engel Curves: examples/01_engel_curves.ipynb
    - Solver Comparison: examples/02_solver_comparison.ipynb
    - Nonparametric Quantization: examples/03_nonparametric_quantization.ipynb
  - Contributing: contributing.md
  - Changelog: changelog.md
  - License: license.md
